body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, rgb(46, 84, 91), #222);
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 600px;
    margin: 100px auto 80px;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #f2f2f2;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.break-session-length {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.break-session-length div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.break-session-length > div {
    flex-basis: 40%;
}

.break-session-length h3 {
    text-align: center;
}

.break-session-length .btn {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.break-session-length .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.break-session-length p {
    margin: 0;
    text-align: center;
    font-size: 24px;
}

.break-session-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#break-label, #session-label {
    font-size: 23px;
    text-align: center;
}

.timer-wrapper {
    margin-top: 30px;
    text-align: center;
}

.timer {
    background-color: rgb(46, 84, 91);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.timer h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #f2f2f2;
}

.timer h3 {
    font-size: 40px;
    margin: 0;
    color: #f2f2f2;
}

.btn {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 10px 0 10px;
}

.btn:hover {
    background-color: #e0e0e0;
    color: #111;
}

.btn:active {
    background-color: #ccc;
}

.subtract {
    width: 50px;
    margin-right: 20px;
}

.add {
    width: 50px;
    margin-left: 20px;
}

.footer {
    text-align: center;
    margin-top: 30px;
    color: #f2f2f2;
    display: block;
    text-align: center;
}

.footer a {
    color: #f2f2f2;
    text-decoration: none;
}

a {
    margin-bottom: 150px;
}

.footer a:hover {
    color: #ccc;
}